<html>
  <head>
    <title>CPU Load Monitor</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  </head>

  <body>
    <h1>Stats</h1>
    Uptime: <span id='uptime'></span><br>
    10-min Average Load: <span id='ten-min-avg'></span><br>
    10-min Average Median: <span id='ten-min-med'></span><br>
    Min Load: <span id='min-load'></span><br>
    Max Load: <span id='max-load'></span><br>
    Alerts:
    <ul id='alerts'>
    </ul>
    10-Minute History:
    <ul id='history'>
    </ul>

    <script>
      refresh();

      function poll(){
        setTimeout(refresh, 10000); 
      };

      function refresh() {
        $.ajax({
          url: 'http://localhost:5000/state', 
          dataType: 'json',
          success: function(data) {
            // Note: data is already parsed into a JS object
            handleData(data);
            poll();
          }});
      }

      function handleData(data) {
        $('#uptime').html(data.uptime + ' mins');
        $('#ten-min-avg').html(data.tenMinAvg.toFixed(2));
        $('#ten-min-med').html(data.tenMinMed.toFixed(2));
        $('#min-load').html(data.minLoad.toFixed(2));
        $('#max-load').html(data.maxLoad.toFixed(2));
        
        // Display Alert History
        var a_list = $('ul#alerts');
        a_list.html('')
        $.each(data.alertHistory, function(i) {
          var alert_entry    = data.alertHistory[i],
              alert_time     = alert_entry[0],
              alert_high     = alert_entry[1],
              alert_load_avg = alert_entry[2].toFixed(2),
              li = $('<li/>'),
              alert_string = '';

          if (alert_high) {
            alert_string = 'High Load Alert! ';
          }
          else {
            alert_string = 'Load Recovered! ';
          }
          alert_time = new Date(alert_time * 1000);
          alert_time = alert_time.toLocaleTimeString();
          alert_string += '2-minute Load Average: ' + alert_load_avg + ', Triggered at ' 
                          + alert_time;
          li.text(alert_string);
          li.appendTo(a_list);
        });

        // Display History
        var h_list = $('ul#history');
        h_list.html('')
        $.each(data.history, function(i) {
            var li = $('<li/>').text(data.history[i][1].toFixed(2));
            li.appendTo(h_list);
        });
      }
    </script>
  </body>

</html>
